.button {
  padding: 5px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.6);
  text-align: center;
  border-style: none;
  border-radius: 5px;
  cursor: pointer;
  transition: .3s;

  + .button {
    margin-left: 5px;
  }

  &:hover {
    transform: scale(.95);
    transition: .3s;
  }

  &.active {
    background-color: white;
    pointer-events: none;
  }
}