.wrapper {
  margin: 10px;
  height: 60px;
  width: calc(100% - 20px);
  display: flex;
  justify-content: space-between;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 10px;

  .logo-container {
    padding: 5px;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;

    img {
      width: 100%;
    }
  }

  .menu-container {
    width: 40%;

    .menu-wrapper {
      padding: 5px;
      height: 100%;

      .nav-bar {
        height: 100%;
        display: flex;
      }

      .canvas-menu {
        display: none;
      }
    }
  }
  z-index: 2;

  @media (max-width: 600px) {
    .logo-container {
      width: 35%;
    }

    .menu-container {
      width: 15%;

      .menu-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;

        .nav-bar {
          display: none;
        }

        .canvas-menu {
          height: 50%;
          display: inline;

          i {
            font-size: 1.5rem;
          }

          .menu-list {
            padding: 5px;
            margin: 10px;
            width: calc(100% - 20px);
            position: fixed;
            top: 70px;
            left: 0;
            display: flex;
            flex-direction: column;
            background-color: rgba(255, 255, 255, .6);
            border-radius: 10px;

            a {
              height: 30px;
              border-radius: 5px;
              text-align: center;
              font-size: 1.2rem;
              font-weight: bold;

              &:active {
                background-color: white;
              }
            }
          }

          .closing {
            display: none;
          }
        }
      }
    }
  }
}