.wrapper {
  height: 400px;
  width: 100%;
  display: flex;
  flex-flow: column;

  + .wrapper {
    margin-top: 300px;
  }

  .title {
    flex: 0 1 auto;

    h1, h2 {
      text-align: center;
    }

    h1 {
      text-transform: capitalize;
    }
  }

  .content {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}