.wrapper {
  padding: 1%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, .6);
  border-radius: 10px;
  cursor: pointer;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  transition: .3s;

  img {
    width: 200px;
  }

  h2, h3 {
    color: white;
    text-decoration: underline;
  }

  h2 {
    text-align: center;
  }

  p {
    color: white;
  }

  i {
    font-size: 2rem;
    color: white;
  }

  + .wrapper {
    margin-left: 6%;
  }

  &:hover {
    box-shadow: rgba(0, 0, 0, .6) 3px 3px 5px;
    transform: translate(-3px, -3px);
    transition: .3s;
  }
}

.img-in {
  height: 150px;
}

.box-1on3 {
  width: 25%;

  @media (max-width: 600px) {
    width: 100%;
  }
}