.wrapper {
  padding: 5px;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, .6);
  border-radius: 10px;
  cursor: pointer;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  transition: .3s;

  img {
    width: 200px;
  }

  p {
    color: white;
  }

  + .wrapper {
    margin-left: 6%;
  }

  &:hover {
    box-shadow: rgba(0, 0, 0, .6) 3px 3px 5px;
    transform: translate(-3px, -3px);
    transition: .3s;
  }
}